<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Intro to AngularJS ~ Girl Develop It</title>

    <meta name="description" content="Girl Develop It Intro to Angular Class. Alexandra Hoefinger (@ahoef) developed and taught this workshop for GDI Philly">
    <meta name="author" content="Girl Develop It">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/gdidefault.css" id="theme">

    <!-- For syntax highlighting -->
    <!-- light editor <link rel="stylesheet" href="lib/css/light.css"> -->
    <!-- dark editor <link rel="stylesheet" href="lib/css/dark.css">-->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <link rel="stylesheet" href="plugin/accessibility-helper/css/accessibility-helper.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <!-- If use the PDF print sheet so students can print slides-->

    <link rel="stylesheet" href="css/print/pdf.css" type="text/css" media="print">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <!-- Opening -->
        <section>
          <h1>Set Up!</h1>
          <ul>
            <li>Wifi is TIY-Turing (see whiteboard for password)</li>
            <li>Get set up with your favorite text editor, like Sublime (https://www.sublimetext.com/)</li>
            <li>Download Angular (https://angularjs.org/)</li>
            <li>Create a folder and call it something like GDI-AngularJS</li>
            <li>Put the download from Angular into that folder</li>
          </ul>

        </section>
        <section>
          <img src="img/circle-gdi-logo.png" alt="GDI Logo" class="noborder"/>
          <h1>Intro to AngularJS</h1>
        </section>

        <!-- Welcome-->
        <section class="hide-pdf">
          <h3>Welcome!</h3>
          <div>
            <br>
            <p>Girl Develop It is here to provide affordable and accessible programs to learn software through mentorship and hands-on instruction.</p>
          </div>
        </section>

        <section class="hide-pdf">
          <div>
            <br>
            <h3>Things</h3>
            <ul>
              <li>We are here for you!</li>
              <li class="fragment">Every question is important</li>
              <li class="fragment">Don't wait! Ask questions as they come to you</li>
              <li class="fragment">Help each other</li>
              <li class="fragment">Have fun</li>
              <li class="fragment">Eat the snacks</li>
            </ul>
          </div>
        </section>

        <section>
          <h3>Agenda</h3>
            <h5>Class 1</h5>
            <ul>
              <li>Introductions</li>
              <li>Overview of MVC patterns</li>
              <li>Intro to Angular</li>
              <li>Intro to Directives!</li>
              <li>Expressions</li>
              <li>Code a thing!</li>
            </ul>

          <br>
          <br>

          <div class="fragment">
            <h5>If we have time...</h5>
            <ul>
              <li>Two Way Data Binding</li>
              <li>Moar Built-in Directives</li>
            </ul>
          </div>
        </section>

        <section>
          <h3>Introductions</h3>
          <div>
          <p>Tell us about yourself.</p>
          <ul>
            <li>Who are you?</li>
            <li>What do you hope to get out of the class?</li>
            <li>Favorite restaurant</li>
          </ul>

          <br>
          <br>
          <br>

          </div>
            <p>
              <span class="fragment">I'm Erin!</span>
              <br>
              <span class="fragment">I live and love in Durham</span>
              <br>
              <span class="fragment">I'm a Developer at Adwerx</span>
              <br>
              <span class="fragment">I really like these fade-in slides</span>
            </p>
        </section>

        <section>
          <h3>What is AngularJS?</h3>
          <ul>
            <li>A client-side JavaScript framework...</li>
          </ul>
          <br>
          <br>
          <div class="fragment">
            <h4>Wait what's a framework tho</h4>
            <img src="img/confuzed-thumb.jpg" alt="confused-cat" class="noborder"/>
          </div>
          <div class="left-align">
            <p class= "fragment">A software framework is a universal, reusable software environment</p>
            <p class="fragment">that provides particular functionality as part of a larger software platform</p>
            <p class="fragment">to facilitate development of software applications, products and solutions.</p>

          </div>
        </section>

        <section>
          <h3>Moar about AngularJS</h3>
          <img src="http://img.izismile.com/img/img3/20100316/moar_23.jpg" style="height:200px;" class="fragment">
          <br>
          <ul>
            <li class="fragment">Initially released in 2009 by Google</li>
            <li class="fragment">Used to create Single Page Applications (SAP)</li>
            <li class="fragment">A framework for adding interactivity to HTML</li>
            <li class="fragment">Falls within the family of MV* frameworks, and is often compared to Ember.js, Backbone.js, &amp; React</li>
          </ul>
        </section>

        <section>
          <h3>What is a MV* framework?</h3>
          <ul>
            <li>Main features are some combination of routing, data binding, templates/views, models &amp; data access</li>
            <li class="fragment">Can be client- or server-side, and not specific to JavaScript</li>
            <li class="fragment">A variation of an MVC (Model View Controller)</li>
            <li class="fragment">Model &mdash; a type or piece of data to display or manipulate (a user, an account, a puppy, etc)</li>
            <li class="fragment">View &mdash; the markup &amp; templates for the User Interface</li>
            <li class="fragment">Controller &mdash; handles input &amp; updates the state of model</li>
          </ul>
        </section>

        <section>
          <h3>What is a MV* framework?</h3>
          <div class="left-align">
            <img src="img/500px-MVC-Process.png" alt="Model updates view, user sees view, user uses controller, controller manipulates model">
            <img src="img/Henry.JPG" alt="Henry-Brown">
            <p><small>Image Credit: <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MVC-Process.svg/500px-MVC-Process.svg.png" target="_blank">Wikimedia</a></small></p>
          </div>
        </section>

        <section>
          <h3>What type of MV* is Angular?</h3>
          <ul>
            <li>There's much debate on what exactly Angular is</li>
            <li>Angular has evolved since release, and developers implement it differently</li>
            <li>Many agree (including Angular!) that it is an MVW (Model View Whatever)</li>
          </ul>
        </section>

        <section>
          <h3>Why Use Angular?</h3>
          <ul>
            <li class="fragment">Easy to get up and running</li>
            <li class="fragment">Code organization</li>
            <li class="fragment">Speedy websites</li>
            <li class="fragment">Unit testing</li>
            <li class="fragment">Many, many resources</li>
          </ul>
        </section>
        <section>
          <h3>Let's Jump In!</h3>
        </section>

        <section>
          <h3>Including Angular</h3>
          <p><a href="https://angularjs.org/">Download</a> and serve local file</p>
          <pre><code>&lt;script src="js/angular.min.js"&gt;&lt;script&gt;</code></pre>

          <p>OR</p>

          <p>Use a content distribution network (CDN) for a cached file</p>
          <pre><code>&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"&gt;&lt;/script&gt;</code></pre>
        </section>

        <section>
          <h3>Directives: The Heart and Soul of Angular</h3>
          <ul>
            <li>Directives are the feature of Angular that make it truly powerful</li>
            <li class="fragment">"At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler... to attach a specified behavior to that DOM element... or even to transform the DOM element and its children."</li>
            <li class="fragment">Angular comes with a bunch of built-in Directives</li>
          </ul>
        </section>

        <section>
          <h3>Built-In Directive: ng-app</h3>
          <p>
            <a href="https://docs.angularjs.org/api/ng/directive/ngApp">ng-app</a> is a required directive used to bootstrap our AngularJS application designate the root or parent element
          </p>

<pre style="width:300px;"><code>&lt;body ng-app&gt;
  &lt;h1&gt;Hello World!&lt;/h1&gt;
&lt;/body&gt;</code></pre>
        </section>

        <section>
          <h3>Expressions</h3>
          <ul>
            <li>Angular expressions are JavaScript-like code snippets that are mainly placed in interpolation bindings</li>
            <li>A way to insert data into html via a JavaScript string, number, object, or array</li>
          </ul>
          <p data-height="480" data-theme-id="0" data-slug-hash="yOZrvm" data-default-tab="html" data-user="ernbrn" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/ernbrn/pen/yOZrvm/">dogeXample</a> by Erin Brown (<a href="http://codepen.io/ernbrn">@ernbrn</a>) on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </section>

        <section>
          <h3>Let's Code!</h3>
          <p> Copy this &#x2193;</p>
  <pre style="width:200px;"><code>&lt;!doctype html&gt;

  &lt;html&gt;
    &lt;head&gt;
    &lt;/head&gt;

    &lt;body&gt;
    &lt;/body&gt;
  &lt;/html&gt;

  </code></pre>
          <ul>
            <li>In your GDI folder, create a file called <br> "hello-world.html"</li>
            <li>Import the Angular library</li>
            <li>Assign your root element with ng-app</li>
            <li>Include html with a few string &amp; number expressions </li>
          </ul>
        </section>


          <section>
            <h3>Two-Way Data Binding</h3>
            <p>The <a href="https://docs.angularjs.org/api/ng/directive/ngModel" target="_blank">ng-model</a> directive binds the value of an <code>input</code>, <code>select</code>, or <code>textarea</code> to an object that can be used in an expression</p>
<pre style="width:500px;"><code>&lt;body ng-app&gt;
  &lt;label>Name:&lt;/label&gt;
  &lt;input type="text" ng-model="yourName"&gt;
  &lt;hr&gt;
  &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
&lt;/body&gt;
</code></pre>
          </section>

          <section>
            <h3>Two-Way Data Binding: Example with Puppies</h3>
            <p data-height="384" data-theme-id="0" data-slug-hash="ONdYWY" data-default-tab="html" data-user="ernbrn" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/ernbrn/pen/ONdYWY/">simpleDogApp.js</a> by Erin Brown (<a href="http://codepen.io/ernbrn">@ernbrn</a>) on <a href="http://codepen.io">CodePen</a>.</p>
            <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          </section>

          <section>
            <h3>Two-Way Data Binding</h3>
            <p>Expressions can be inserted as the value html attributes as well as text within html tags</p>
<pre><code>&lt;body ng-app&gt;
  &lt;label>Name:&lt;/label&gt;
  &lt;input type="text" ng-model="user.status"&gt;
  &lt;hr&gt;
  &lt;h1 class="status-text-{{user.status}}"&gt;Your status is:  {{user.status}}!&lt;/h1&gt;
&lt;/body&gt;
</code></pre>
          </section>

          <section>
            <h3>Two-Way Data Binding: Example with Puppies</h3>
            <p data-height="384" data-theme-id="0" data-slug-hash="ONdYWY" data-default-tab="html" data-user="ernbrn" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/ernbrn/pen/ONdYWY/">simpleDogApp.js</a> by Erin Brown (<a href="http://codepen.io/ernbrn">@ernbrn</a>) on <a href="http://codepen.io">CodePen</a>.</p>
            <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          </section>

          <section>
            <h3>Exercise</h3>
            <ul>
              <li>In hello-world.html, within your ng-app, add the markup for a form input field</li>
              <li>Also add the markup for a heading
              <li>Bind the value of the input to text within your heading tags by using ng-model </li>
              <li>Try to add a few more data-bindings with ng-model!</li>
            </ul>
          </section>


        <section>
          <h3>An example Angular App</h3>
          <p data-height="374" data-theme-id="0" data-slug-hash="ONdQWe" data-default-tab="result" data-user="ernbrn" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/ernbrn/pen/ONdQWe/">dogApp.js</a> by Erin Brown (<a href="http://codepen.io/ernbrn">@ernbrn</a>) on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </section>


      </div>
      <footer>
        <div class="copyright">
          HTML/CSS ~ Girl Develop It
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
        </div>
      </footer>
    </div>


    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true },
                    { src: 'plugin/accessibility-helper/js/accessibility-helper.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
